/*ensemble page*/
@font-face
{
    font-family: 'latin_modern_roman10_regular';
    src: url('fonts/lmroman10-regular-webfont.eot');
    src: url('fonts/lmroman10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lmroman10-regular-webfont.woff2') format('woff2'),
         url('fonts/lmroman10-regular-webfont.woff') format('woff'),
         url('fonts/lmroman10-regular-webfont.ttf') format('truetype'),
         url('fonts/lmroman10-regular-webfont.svg#latin_modern_roman10_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    width: 1200px;
    margin: auto;
    max-width: 100%;
    text-align: justify;
    border: solid 1px #29B6F6;
}

header
{
    display: flex;
}

h1, h2, h3
{
    font-family: 'latin_modern_roman10_regular', "Arial Black", Arial, Verdana, sans-serif;
    text-transform: uppercase;
}

p, span
{
    font-family: "Times New Roman", "Arial Black", Arial, Verdana, sans-serif;
}

h1
{
    font-size: 2.5em;
}

h2, .blocdroiteheader p
{
    font-size: 1.3em;
}

h3
{
    font-size: 1.1em;
}


/*bloc gauche + bloc droite*/
.assemblagebloc
{
    display: flex;
    flex-direction: row-reverse;
}

.couleur, .blocdroite i, .blocgauche h2, .couleursouligne
{
    color: #29B6F6;
}

.blocgauche, .blocdroiteecriture
{
    display: flex;
    flex-direction: column;
}

/*bloc gauche*/
.blocgaucheheader, .blocgauche
{
    background-color: #29B6F6;
    width: 34%;
}
.blocgaucheheader
{
    padding-top: 2.5em;
    text-align: center;
}

img
{
    border-radius:50%;
    width:160px;
    height:160px;
    border: 3px solid rgba(0, 0, 0, 0.2)
}

.blocgauche h2
{
    text-align: center;
    background-color: #263238;
}

.blocgauche p
{
    padding: 0 2em;
}

.aproposdemoi
{
    flex-grow: 1;
}

.iconeloisirs
{
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    padding-bottom: 1em;
}

.iconeloisirs i
{
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    border: solid 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #263238;
}


/*bloc droite*/
.blocdroiteheader, .blocdroite
{
    width: 66%;
}

.blocdroiteheader h1
{
    margin-left: 1.5em;
}

.couleursouligne
{
    text-decoration: underline;
}

.blocdroiteheader
{
    line-height: 1em;
}

.blocdroiteheader p
{
    font-weight: bold;
}

.miseenplaceblocdroite
{
    display: flex;
}

ul
{
    list-style: none;
    padding: 0;
}

.miseenplaceblocdroite i
{
    padding-left: 0.5em;
}

.recommandations
{
    display: flex;
    justify-content: space-around;
}

.formetexteicone
{
    display: flex;
    border-bottom: solid 1px #29B6F6;
}

.formetexteicone i
{
    padding-top: 0.6em;
    font-size: 1.6em;
}

.formetexteicone h2
{
    margin-left: 1.5em;
}

.miseenplaceblocdroite i
{
    font-size: 0.7em;
}

.blocdroiteecriture h3
{
    line-height: 2em;
}